@model Backend4.Models.Controls.TextAreaViewModel
@{
    ViewData["Title"] = "Text Area";
}

<h1>Text Area</h1>

<form asp-action="TextArea" method="post" class="mt-4">
    <div class="form-group">
        <label asp-for="Text"></label>
        <textarea asp-for="Text" class="form-control" rows="5" style="max-width: 420px;"></textarea>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-secondary">Submit</button>
</form>

@if (ViewBag.Result != null)
{
    <hr />
    <div><strong>Result:</strong></div>
    <pre>@ViewBag.Result</pre>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
