@model Backend4.Models.Mockups.ResetPasswordResultViewModel
@{
    ViewData["Title"] = "Reset password result";
}

<h1>Reset password result</h1>

@if (Model.Success)
{
    <div class="alert alert-success mt-4">
        Password successfully reset for: <strong>@Model.Email</strong>
    </div>
}
else
{
    <div class="alert alert-danger mt-4">
        Reset failed.
    </div>
}
